* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fav {
  width: 35px;
  border: 2px solid black;
  background-color: #fff;
}
.btn-1 {
  color: #fff;
  background-color: black;
  border-radius: 2px;
  padding: 10px 40px;
  border: none;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.card-1 {
  width: 300px;
  text-align: center;
  background-color: rgb(218, 11, 11);
  color: #fff;
  padding-top: 35px;
  padding-bottom: 40px;
  border-radius: 20px;
  .cross {
    width: 290px;
    height: 180px;
    object-fit: contain;
  }
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-2 {
  width: 300px;
  text-align: center;
  background-color: dodgerblue;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 40px;
  border-radius: 20px;
  .cross {
    width: 290px;
    height: 180px;
    object-fit: cover;
  }
}

.cont {
  display: flex;

  flex-direction: column;
  gap: 40px;
}
